.git
.gitignore
node_modules
**/node_modules
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.idea
.vscode
.env
.vercel
dist
public
api/
apps/chat-client/dist
apps/chat-client/node_modules
rest/nodejs/node_modules
